@import "tailwindcss";

@theme {
  --color-premium-black: #09090b;
  --color-premium-gray: #18181b;
  --color-premium-border: #27272a;

  --font-inter: Inter, system-ui, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

:root.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}